<div class="bg-slate-300">
    <h1 class="text-center mt-4">Listing all articles</h1>
    <%= will_paginate @articles, :page_links => false, class: "text-center" %> 
    <%= render 'article' %>
    <div class="mb-4">
        <%= will_paginate @articles, :page_links => false, class: "text-center pb-5" %> 
    </div>
</div>    