<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
  <div class="container text-center">
    <span class="text-muted fw-bold">Copyright &copy; <%= link_to "Luisa Egoavil", "https://github.com/LuisaEgoavil", target: '_blank', class: "text-white" %></span>
  </div>
</footer>

